# Visual Studio Code
.vscode/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/

# Rider
.idea/

# .NET
bin/
obj/
*.dll
*.exe
*.pdb

# NuGet Packages
*.nuget.props
*.nuget.targets
*.lock.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Dapper
DapperDotnet/.vs/DapperDotnet/
DapperDotnet/.vs/ProjectEvaluation/
DapperDotnet/DapperDotnet/bin/
DapperDotnet/DapperDotnet/obj/

# Your application-specific folders or files
/appsettings.json
/appsettings.Development.json
